* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  color: #AD5F23;
}

h2 {
  color: #613513;
}

h3 {
  color: #E0762D;
}

h4 {
  color: #E0762D;
}

nav {
  background-color: #614530;
  z-index: 1004;
}

#iconoCuenta {
  font-size: 1.2em;
  line-height: 35px;
  background: none;
  border: none;
  margin-left: 20px;
}
#iconoCuenta i {
  color: #E6A473;
}

#btnCarrito {
  font-size: 1.2em;
  line-height: 35px;
  background: none;
  border: none;
  margin-left: 20px;
}
#btnCarrito i {
  color: #E6A473;
}

#btn-carousel {
  background-color: black;
}

.btn {
  background-color: #AD5F23;
  border-radius: 20px;
  color: #fff;
}

.avance {
  background-color: #AD5F23;
}

.imgAvance {
  width: 100%;
}

.popupInicioSesion {
  min-height: 150px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  border: 1px solid black;
  color: #E6A473;
  background-color: #614530;
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 10001;
}

.popupCarrito {
  height: 350px;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #614530;
  position: fixed;
  top: 60px;
  left: 25%;
  overflow-y: auto;
  z-index: 1002;
}
.popupCarrito h2 {
  color: #AD5F23;
}
.popupCarrito ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#costoTotal {
  color: #E0762D;
  font-size: 20px;
}

.enVista {
  display: block;
}

.oculto {
  display: none;
}

#formularioInicioSesion {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
#formularioInicioSesion #txtUsuario, #formularioInicioSesion #txtContrasena, #formularioInicioSesion #btnSubmit, #formularioInicioSesion #btnRegistrarse {
  margin-top: 10px;
}

.camposDeRegistro {
  display: none;
}
.camposDeRegistro #formularioRegistro {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.camposDeRegistro #formularioRegistro #txtNombre, .camposDeRegistro #formularioRegistro #txtApellido, .camposDeRegistro #formularioRegistro label, .camposDeRegistro #formularioRegistro #txtUsuarioRegistro, .camposDeRegistro #formularioRegistro #txtContrasenaRegistro, .camposDeRegistro #formularioRegistro input[type=submit] {
  margin-top: 10px;
}

.estadoInicioSesion {
  margin-top: 20px;
  color: #E6A473;
}

#menuUsuario {
  display: none;
  flex-direction: column;
}
#menuUsuario a {
  text-decoration: none;
  color: #E6A473;
}
#menuUsuario a:hover {
  color: #AD5F23;
}

#btnCerrarSesion {
  background: none;
  border: none;
  color: #E6A473;
}
#btnCerrarSesion:hover {
  color: #AD5F23;
}

footer {
  background-color: #614530;
}
footer i {
  font-size: 30px;
  color: #E6A473;
}

#barraFiltros {
  position: absolute;
  display: block;
  padding-top: 60px;
  width: 200px;
  height: 90%;
  background: #614530;
  left: 0px;
}

#barraFiltros ul .tituloCat {
  color: #E0762D;
  font-size: 25px;
}
#barraFiltros ul li {
  color: #E6A473;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
}

#productos {
  height: 1500px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#productos article {
  width: 300px;
  text-align: center;
}
#productos article img {
  height: 150px;
}

.seccionProductos {
  display: block;
}

.imgProductoEnCarrito {
  width: 80px;
}

/*# sourceMappingURL=estilos.css.map */
